body {
    font-family: 'Poppins';
    background-color: aliceblue;
    margin: 0;
}

@font-face {
    font-family: "TitleFont";
    src: url(../assets/fonts/mythology_of_egypt/Mythology\ Of\ Egypt.otf);
}

.homeHeader {
    background-image: url("../assets/img/homeHeader.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    
}

.blueBackground {
    height: 100vh;
    background-color: #002d68;
}

.whiteBackground {
    height: 100vh;
    background-color: #ffffff;
}

.title {
    font-family: TitleFont;
    font-size: 96pt;
    color: #e9ad1c;
    display: flex;
    flex-wrap: wrap;
}

.subtitle {
    font-family: 'Metamorphous';
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}