body {
    font-family: 'Poppins';
    margin: 0;
}

@font-face {
    font-family: "TitleFont";
    src: url(../assets/fonts/mythology_of_egypt/Mythology\ Of\ Egypt.otf);
}

/* Navbar */

.logo img {
    height: 60px;
    width: auto;
}

.navbar {
    background-color: #ffffffb1;
    border-radius: 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navContainer {
    padding: 3%;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Home Page */

.homeHeader {
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.blueBackground {
    height: 80vh;
    background-color: #002d68;
}

.whiteBackground {
    height: 75vh;
    background-color: #ffffff;
}

.title {
    font-family: TitleFont;
    font-size: 60pt;
    color: #e9ad1c;
    margin: 0
}

.subtitle {
    font-family: 'Metamorphous';
    color: #ffffff;
    padding-left: 2%;
}

.homeTitle {
    width: 40%;
    height: 50%;

    /* padding: 10%;
    margin-left: 50%;
    margin-top: 65%; */
}

.homePage {
    background-image: url("../assets/img/homeHeader.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.twoColFlexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.leftOfTwoColumnFlexContainer {
    height: 100%;
    width: 50%;
    padding: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rightOfTwoColumnFlexContainer {
    height: 100%;
    width: 50%;
    padding-right: 15%;
    padding-left: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rightOfTwoColumnFlexContainer img {
    width: 135%;
    border-radius: 5%;
}

.blueBackgroundH3 {
    color: #e9ad1c;
}

.whiteBackgroundH3 {
    color: #15d5f5;
    padding-top: 5%;
    padding-bottom: 5%;
}

.blueBackgroundBodyText {
    color: #ffffff;
    padding-top: 5%;
    padding-bottom: 5%;
}

.whiteBackgroundBodyText {
    color: black;
    padding-top: 5%;
    padding-bottom: 5%;
}

.blueBackgroundH2 {
    color: #ffffff;
    font-weight: bold;
}

.cradleALegendButtonContainer button {
    color: #ffffff;
    padding: 12px;
    background-color: #15d5f5;
    border-radius: 15px;
    width: 50%;
    height: 110%;
}

.displayOfCards {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.displayOfCardsH3 {
    color: #e9ad1c;
    text-align: justify;
}

.displayOfCardsH2 {
    color: #ffffff;
    text-align: center;
}

.cardsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;

}

.card img {
    border-radius: 5%;
    width: fit-content;
}

.successHeadingText {
    font-size: 16pt;
    width: 80%;
    text-align: center;
    font-weight: bold;
}

.successBodyText {
    font-size: 12pt;
    width: 80%;
    text-align: center;
}

/* Contact Page */

.aboutSectionContactPage {
    height: 100vh;
    background-color: #ffffff;

    
}

.contactMapContainer {
    height: 100vh
}

.contactAboutLeftContainer {
    height: 80%;
    width: 45%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.contactSection {
    height: 100vh;
    background-color: #ffffff;
}

.contactContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.contactSection {

}

.contactForm form {
    padding: 20px;
    gap: 10px;
    background-color: #f4f4f4;
    border-radius: 20px;
}

.formElement {
    width: 100%;
    padding: 10px;
}

.contactForm input,
.contactForm select,
.contactForm textarea {
    width: 95%;
    padding: 10px 0;
    padding-left: 5px;

}

.contactForm button {
    cursor: pointer;
    padding: 12px;
    
}

.contactForm button:hover {
    background-color: red;
}